* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

/* Animated Background */
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #6a11cb, #2575fc, #9c27b0, #ab47bc);
  background-size: 400% 400%;
  animation: backgroundAnimation 10s ease infinite;
  color: var(--text-color, #fff);
}

h1 {
  font-size: 80px;
  text-align: center;
  text-shadow: 10px 8px 10px rgba(0, 0, 0, 2.5);
  font-weight: bold;
  margin: 10px 10px 0px 10px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

nav {
  font-size: 30px;
  text-align: center;
  margin: 10px 15px 10px 10px;
  padding-bottom: 40px;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* Cool Hover Effects for Links */
a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  transform: rotate(0deg);
}

a:hover {
  color: var(--secondary-color);
  transform: rotate(5deg);
  text-shadow: 0px 0px 10px var(--primary-color);
}

/* Stylish Buttons  */
button {
  padding: 12px 24px;
  font-size: 17px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(145deg, #4d4c4c, #2a2a2a);
  box-shadow: 4px 4px 10px #0e0e0e, -4px -4px 10px #292929;
  color: white;
}

button:hover {
  background: linear-gradient(145deg, #2a2a2a, #1e1e1e);
}

button:active {
  box-shadow: inset 4px 4px 6px #0e0e0e, inset -4px -4px 6px #292929;
}

button.home-btn {
  padding: 10px 10px 10px 10px;
}

/*Smooth Page Transitions  */
.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    text-align: center;
  }

  nav {
    font-size: 25px;
  }

  body {
    background: #13b0ab;
    background-size: initial;
    animation: none;
  }
}

/* -------------------MAIN LAYOUT----------------- */
.anime-container {
  margin-left: 250px; /*Make space for sidebar  */
}

.content {
  padding: 20px;
  margin-left: 20px; /*Add some space between sidebar and content  */
}

/* Anime grid  */
.anime-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.anime-grid-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 50);
  text-align: center;
  cursor: pointer;
}

.anime-grid-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.anime-grid-item p {
  padding: 10px;
  font-weight: bold;
  color: #444;
}

/* Sidebar Styling  */
.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  height: 50%;
}

.sidebar button {
  background-color: #444;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #555;
}

/* PAGE CHANGE BUTTONS */
.page-change-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 20px;
}

.page-change-buttons button {
  font-size: 15px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 30%;
    position: fixed;
    padding: 10px;
    margin: 0;
    height: 50%;
  }

  .sidebar button {
    padding: 5px;
  }

  .anime-container {
    margin-left: 0;
    flex-direction: column; /* Stack sidebar and content vertically  */
  }

  .anime-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .anime-grid-item {
    width: 100%;
  }
  .anime-grid-item img {
    height: auto;
    object-fit: contain;
  }
  .anime-grid-item p {
    padding: 10px;
    font-size: 1rem;
  }

  .content {
    margin: 13px 30px 25px 145px;
    padding: 0;
  }

  .page-change-buttons button {
    padding: 10px 10px 10px 10px;
    font-size: 13px;
  }
}
/* -------------------------- MODAL --------------------------- */

/* Modal Styling  */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 700px;
  width: 90%;
  max-height: 90vh;
  text-align: center;
  position: relative;
  overflow-y: auto;
  color: #000;
  animation: zoomIn 0.6s ease-out;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}

.close-button:hover {
  color: #f00;
}

@media (max-width: 600px) {
  .modal-content {
    width: 80%;
  }
  .close-button {
    font-size: 10px;
  }
}

.modal-content h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.modal-content img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 10px 0;
}

.anime-info {
  margin: 20px 0;
}

.anime-info a {
  color: rgb(80, 146, 201);
}

.anime-info p {
  margin: 20px 0;
  text-align: left;
}

.anime-info h2 {
  font-size: 20px;
}

.anime-info strong {
  font-weight: bold;
}

/* Character modal  */
.character-about {
  text-align: left;
  margin-bottom: 15px;
}

.character-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.character-nicknames {
  margin-bottom: 15px;
}

/*------------------------------ SEARCH FORM ----------------------- */
.anime-search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.anime-search-container input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.anime-search-container button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border: none;
}

.anime-search-container button:hover {
  background-color: #555;
}

.anime-search-container form {
  padding-bottom: 35px;
}

@media (max-width: 600px) {
  .anime-search-container {
    margin: 0;
    padding: 0;
  }
  .anime-search-container form {
    display: flex;
    flex-direction: row;
  }
  .anime-search-container button {
    font-size: 12px;
    border: none;
  }
}

/* --------------------------- TRANSLATE N JOKE PAGE------------------------ */
.translation-section,
.joke-section {
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: lightcyan;
  border-radius: 8px;
  box-shadow: 11px 11px 8px rgba(8, 7, 7, 0.5);
  text-align: center;
}

.joke-data {
  font-size: 20px;
  color: #0e0e0e;
  margin: 30px 20px 35px 20px;
}

h2.picking {
  text-align: center;
  font-size: 40px;
}

h2.JnT-heading {
  text-align: center;
  font-size: 35px;
  color: black;
  font-weight: bold;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 600px) {
  .joke-section {
    width: 90%;
  }

  .joke {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .joke-data {
    font-size: 1rem;
  }
}

.translate-input {
  display: flex;
  flex-direction: column;
  color: black;
}

.translated {
  color: black;
  font-size: 20px;
}

.language-select {
  color: black;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.translate-btn {
  margin: 20px 20px 20px 20px;
}

.error {
  color: rgb(148, 40, 40);
  font-weight: bold;
}
