:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

/* anime grid layout */
.anime-container {
  text-align: center;
  padding: 20px;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.anime-card {
  background-color: #333;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.anime-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.anime-card h3 {
  margin-top: 10px;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}
/* anime grid layout */

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #121212;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  color: #fff;
  transition: transform 0.3s ease-in-out;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-content:hover {
  transform: scale(1.02);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #ccc;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  color: #fff;
}
/* modal */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
